<section class="active-users">
    <div class="container">
        <div class="statistics">
            <div class="users-active">
                <h3 class="users-active__title">Active Users</h3>
                <strong class="users-active__people numbers">4 657 890</strong>
            </div>
            <div class="total-paid">
                <h3 class="total-paid__title">Total Paid (BCB)</h3>
                <strong class="total-paid__amount numbers">44 677 120</strong>
            </div>
        </div>
        <a class="active-users__button button" href="#about-account">Play now</a>
    </div>
</section>