<section class="features">
    <div class="container">
        <h2 class="features__title title" id="features-title">Features</h2>
        <div class="features__features-list features-list">
            <div class="features-list__item description-features">
                <div class="description-features__wrapp">
                    <svg class="description-features__icon" width="60" height="60"><use xlink:href="images/sprite.svg#jackpot"></use></svg>
                    <h4 class="description-features__title">Free bitcoins black every hour</h4>
                </div>
                <p class="description-features__text">Try your luck every hour playing our simple game and you could win up to $100 in free bitcoins black!</p>
            </div>
            <div class="features-list__item description-features">
                <div class="description-features__wrapp">
                    <svg class="description-features__icon" width="60" height="60"><use xlink:href="images/sprite.svg#dollar"></use></svg>
                    <h4 class="description-features__title">Dayly lotteries with good chances</h4>
                </div>
                <p class="description-features__text">Winning chance of big prizes <br> 1 : 100!</p>
            </div>
            <div class="features-list__item description-features">
                <div class="description-features__wrapp">
                    <svg class="description-features__icon" width="60" height="60"><use xlink:href="images/sprite.svg#open-box"></use></svg>
                    <h4 class="description-features__title">Weekly Jackpot</h4>
                </div>
                <p class="description-features__text">Participate in Weekly Jackpot contest!</p>
            </div>
            <div class="features-list__item description-features">
                <div class="description-features__wrapp">
                    <svg class="description-features__icon" width="60" height="60"><use xlink:href="images/sprite.svg#exchange"></use></svg>
                    <h4 class="description-features__title">Generouse referral program</h4>
                </div>
                <p class="description-features__text">Refer your friends after singing up and get 50% of free bitcoins black program!</p>
            </div>
        </div>
        <a class="features__button button" href="#about-account">Play now</a>
    </div>
</section>