<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="contacts">
        <div class="contacts__social-network social-network">
            <a class="social-network__link" href="#"><svg width="50" height="50"><use xlink:href="images/sprite.svg#instagram"></use></svg></a>
            <a class="social-network__link" href="#"><svg width="50" height="50"><use xlink:href="images/sprite.svg#twitter"></use></svg></a>
            <a class="social-network__link" href="#"><svg width="50" height="50"><use xlink:href="images/sprite.svg#facebook"></use></svg></a>
        </div>
        <p class="social-network__copyright">© 2021 BCBfaucet - All rights reserved.</p>
    </div>
</footer>
<!-- /FOOTER -->
