<!-- HEADER -->
<header class="main-header">
    <div class="container">
        <div class="container-wrapp">
            <div class="main-header__logo logo">
                <a class="logo__link" href="#">
                    <svg class="logo__svg-bitcoin" width="54" height="54"><use xlink:href="images/sprite.svg#bitcoin-logo"></use></svg>
                    <div class="wrapp">
                        <svg class="logo__name-company" width="186" height="22"><use xlink:href="images/sprite.svg#name-company"></use></svg>
                        <div class="logo__bitcoin-price bitcoin-price">
                            <strong><span class="bitcoin-price__bitcoin">1 Bitcoin Black</span> = $<span class="bitcoin-price__price">0.01</span></strong>
                        </div>
                    </div>
                </a>
            </div>
            <ul class="nav-list before-logged-in active-list">
                <li class="nav-list__item"><a href="#wallets-title">Wallets</a></li>
                <li class="nav-list__item"><a href="#features-title">Features</a></li>
                <li class="nav-list__item"><a href="#about-account" class="sign-up">Sign up</a></li>
                <li class="nav-list__item"><a href="#about-account" class="log">Login</a></li>
            </ul>
            <ul class="nav-list after-logged-in">
                <li class="nav-list__item"><a href="#">Free bcb</a></li>
                <li class="nav-list__item"><a href="#">Lottery</a></li>
                <li class="nav-list__item"><a href="#">Refer</a></li>
                <li class="nav-list__item"><a class="profile" href="#"><svg width="20" height="20"><use xlink:href="images/sprite.svg#user"></use></svg>Profile</a></li>
            </ul>
            <div class="main-header__bitcoin-price bitcoin-price">
                <strong><span class="bitcoin-price__bitcoin">1 Bitcoin Black</span> = $<span class="bitcoin-price__price">0.01</span></strong>
            </div>
            <div class="burger active-menu">
                <div class="burger-brick"></div>
                <div class="burger-brick middle"></div>
                <div class="burger-brick"></div>
            </div>
            <svg class="user-button" width="30" height="30"><use xlink:href="images/sprite.svg#user"></use></svg>
        </div>
    </div>
</header>
<!-- /HEADER -->

