<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="MobileOptimized" content="1280"/>
    <meta name="HandheldFriendly" content="false"/>
    <meta name="format-detection" content="telephone=no">


    <!-- build:css styles/plagins.css -->
    <link rel="stylesheet" href="styles/normalize.css">
        <!-- add you plagin css here -->

    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/basic.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/style-adapt.css">
        <!-- add you develop css here -->

    <!-- endbuild -->

</head>
<body>