<section class="in-construction">
    <div class="container">
        <h2 class="in-construction__title title"><span>Under</span> construction</h2>
        <p class="in-construction__text">The page is under construction. We are sorry for the inconvenience.</p>
        <svg class="in-construction__points" width="236" height="38"><use xlink:href="images/sprite.svg#many-points"></use></svg>
        <a href="index.html" class="in-construction__button button blue">Go to the main page</a>
    </div>
</section>