<section class="reward-platform">
    <div class="container">
        <div class="container-wrapp">
            <div class="reward-platform__bitcoin-black bitcoin-black">
                <h1 class="bitcoin-black__title">Your №1</h1>
                <div class="bitcoin-black__advantages advantages">
                    <p class="advantages__text-top">Bitcoin Black Reward Platform</p>
                    <p class="advantages__text-bottom"><span class="colored-text">Win</span> free bitcoins black <span class="colored-text">every hour!</span></p>
                </div>
                <ul class="advantages-list">
                    <li class="advantages-list__item">Win up to $100 in free bitcoins black</li>
                    <li class="advantages-list__item">Dayly Lotteries with good chances</li>
                    <li class="advantages-list__item">Weekly jackpot</li>
                    <li class="advantages-list__item">50% referral commitions for life</li>
                </ul>
            </div>
            <div class="about-account" id="about-account">
                <svg class="round" width="501" height="502"><use xlink:href="images/sprite.svg#round"></use></svg>
                <div class="tabs">
                    <p class="tabs__item tabs__account-creation active"><span class="colored-text">Create</span> an account</p>
                    <p class="tabs__item tabs__log-in">Log in</p>
                </div>
                <form class="account-creation tabs-shape active" action="" name="account-creation">
                    <div class="account-creation__user-name">
                        <label for="user-name"><svg width="20" height="20"><use xlink:href="images/sprite.svg#user-account"></use></svg></label>
                        <input id="user-name" type="text" name="user-name" placeholder="Username">
                    </div>
                    <div class="account-creation__email email">
                        <label for="email"><svg width="20" height="20"><use xlink:href="images/sprite.svg#mail"></use></svg></label>
                        <input id="email" type="email" name="email" placeholder="E-mail address">
                    </div>
                    <div class="account-creation__bcb-address">
                        <label for="bcb-address"><svg width="20" height="20"><use xlink:href="images/sprite.svg#bcb-address"></use></svg></label>
                        <input id="bcb-address" type="text" name="bsb-address" placeholder="bcb address">
                    </div>
                    <div class="download">
                        <a class="download__bcb-wallet" href="#wallets-title">Press here</a>
                        <p class="download__text">to download your personal BCB wallet</p>
                    </div>
                    <div class="account-creation__password password">
                        <label for="password"><svg width="20" height="20"><use xlink:href="images/sprite.svg#password"></use></svg></label>
                        <input id="password" type="password" name="password" placeholder="Password">
                    </div>
                    <button class="account-creation__button button" type="submit">Create</button>
                </form>
                <form class="log-in tabs-shape" action="" name="login">
                    <div class="log-in__email email">
                        <label for="email-login"><svg width="20" height="20"><use xlink:href="images/sprite.svg#mail"></use></svg></label>
                        <input id="email-login" type="email" name="email" placeholder="E-mail address">
                    </div>
                    <div class="log-in__password password">
                        <label for="password-login"><svg width="20" height="20"><use xlink:href="images/sprite.svg#password"></use></svg></label>
                        <input id="password-login" type="password" name="password" placeholder="Password">
                    </div>
                    <button class="log-in__button button" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</section> 