<section class="wallets">
    <div class="container">
       <div class="wallets__title-wrapp">
            <h2 class="wallets__title title" id="wallets-title">Wallets</h2>
            <svg class="wallets__title-icon" width="236" height="38"><use xlink:href="images/sprite.svg#many-points"></use></svg>
       </div>
       <div class="wallets__api-wrapp api-wrapp">
           <div class="api-wrapp__mobile-api mobile-api">
            <div class="mobile-api__wrapper">
                <h3 class="mobile-api__title">Mobile</h3>
                <p>User friendly mobile wallets. Send money as simple as sending a text message.</p>
            </div>
            <div class="mobile-api__links-wrapp">
                <a class="link-api" href="#">
                    <svg class="link-api__icon" width="25" height="30"><use xlink:href="images/sprite.svg#apple"></use></svg>
                    <p class="link-api__text"><span>Download on the</span>App Store</p>
                </a>
                <a class="link-api" href="#">
                    <svg class="link-api__icon" width="30" height="30"><use xlink:href="images/sprite.svg#android"></use></svg>
                    <p class="link-api__text"><span>Download APK</span>Android</p>
                </a>
            </div>
           </div>
           <div class="api-wrapp__desktop-api desktop-api">
               <div class="desktop-api__wrapper">
                    <h3 class="desktop-api__title">Desktop</h3>
                    <p>A full node wallet to contribute to the decentralization of the Bitcoin Black network</p>
               </div>
               <div class="desktop-api__links-wrapp">
                <a class="link-api" href="#">
                    <svg class="link-api__icon" width="30" height="30"><use xlink:href="images/sprite.svg#windows"></use></svg>
                    <p class="link-api__text">Windows</p>
                </a>
                <a class="link-api" href="#">
                    <svg class="link-api__icon" width="25" height="30"><use xlink:href="images/sprite.svg#apple"></use></svg>
                    <p class="link-api__text">Mac os</p>
                </a>
                <a class="link-api" href="#">
                    <svg class="link-api__icon" width="29" height="30"><use xlink:href="images/sprite.svg#linux"></use></svg>
                    <p class="link-api__text">Linux</p>
                </a>
               </div>
           </div>
       </div>
    </div>
</section>